
.container-box{
  align-items: center;
  float: center;
  display:inline;
  text-align: center;
}

.pagdescription > h1{
  text-align: center !important;
  margin-bottom: 50px !important;
  font-weight: 1000 !important;
  line-height: 1 !important;
}
.noticia{

    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(105, 105, 105, 0.2);
    align-items: center;
    border:10px;
    border-radius: 80px;
    padding: 50px;
    border-radius: 40px;
    text-align: center;

    /** Centralizando a div ______________**/
    display:block;
    width: 88%;

    /**____________________________ **/
}